version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    cooldown:
      default-days: 5
    open-pull-requests-limit: 20
    groups:
      github-actions:
        patterns:
          - '*'
