version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 20
    groups:
      github-actions:
        patterns:
          - '*'
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 20
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-patch']
    groups:
      react:
        patterns:
          - 'react'
          - 'react-*'
          - '@react/*'
          - '@types/react'
          - '@types/react-*'
      mui:
        patterns:
          - '@emotion/*'
          - '@mui/*'
      eslint:
        patterns:
          - 'eslint'
          - 'eslint-*'
          - '@eslint/*'
          - 'typescript-eslint'
          - '@typescript-eslint/*'
          - '@vitest/eslint-*'
      prettier:
        patterns:
          - 'prettier'
          - 'prettier-*'
          - '@prettier/*'
      typescript:
        patterns:
          - 'typescript'
          - 'typescript-eslint'
          - '@typescript-eslint/*'
          - 'tslib'
          - 'ts-node'
      vitest:
        patterns:
          - 'jsdom'
          - 'vitest'
          - 'vitest-*'
          - '@vitest/*'
          - '@testing-library/*'
