name: Format and lint
on:
  pull_request:

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Check formatting
        if: always()
        run: |
          echo "Skipping until new workflow is in place."

      - name: Check lint
        if: always()
        run: |
          echo "Skipping until new workflow is in place."
