name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Setup tools & dependencies
        uses: ./.github/actions/setup-code

      - name: Build project
        run: |
          pnpm build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: "build-artifacts"
          path: "dist"
