name: Deploy pull request preview
on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: preview-${{ github.ref }}
  cancel-in-progress: true

env:
  PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
  COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
  ARTIFACT_NAME: "build-artifacts"
  ARTIFACT_PATH: "dist"

jobs:
  build:
    uses: ./.github/workflows/code-build.yaml
    secrets: inherit

  deploy:
    if: github.event.pull_request.head.repo.fork == false && github.actor != 'dependabot[bot]'
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Setup tools & dependencies
        uses: ./.github/actions/setup-code

      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_PATH }}

      - name: Deploy preview to Netlify
        run: |
          pnpm exec netlify deploy \
            --dir ${{ env.ARTIFACT_PATH }} \
            --site ${{ secrets.NETLIFY_SITE_ID }} \
            --auth ${{ secrets.NETLIFY_API_TOKEN }} \
            --json \
            > deploy_output.json

      - name: Output deploy URL
        run: |
          deploy_url=$(jq -r '.deploy_url' deploy_output.json)
          echo "DEPLOY_URL=$deploy_url" >> $GITHUB_ENV

      - name: Comment on pull request
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: pr-preview
          message: |
            <h3>A preview deploy of pull request #${{ env.PULL_REQUEST_NUMBER }} is ready!</h3>

            :rocket: You can view the preview at ${{ env.DEPLOY_URL }}.

            This is a preview deployment and should not be considered production-ready. 
            Please note that this deployment is not permanent and may be removed at any time.

            This was generated in [workflow #${{ github.run_number }}](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}) for commit [${{ env.COMMIT_SHA }}](https://github.com/${{ github.repository }}/commit/${{ env.COMMIT_SHA }}).
